@media (max-width: 820px) {
    nav {
        background-color: white;
    }
    .categories {
        display: none;
    }
    .logo {
        display: none;
    }
    .logoMobile {
        display: inline-block;
    }
    #logInButton, #signUpButton {
        padding: 10px 10px;
        border-radius: 8px;
    }
    /* . . . */
    #landing {
        width: 100%;
        background-size: cover;
        height: 100vh;
    }
    .navMenu {
        /*width: 100%;*/
        padding: 20px;
        float: none;
        /*text-align: center;*/
        display: flex;
        justify-content: space-around;
        /*padding: 15px;*/
    }
    .navMenu a {
        margin: 0;
    }
    .navMenu hr {
        display: none;
    }
    .landingMainContent {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        padding: 25px;
    }
    .landingMainContent h1 {
        font-size: 40px;
        line-height: normal;
        text-align: center;
    }
    .landingMainContent p {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
    #joinButton {
        display: block;
        margin: 50px auto 0 auto;
    }
    /*  Benefit Section  */
    #benefitSection {
        padding: 5%;
    }
    #benefitSection h1 {
        font-size: 40px;
        margin-bottom: 15%;
    }
    .benefitsMainTextContainer p {
        width: 100%;
    }
    #benefits {
        display: block;
    }
    .benefit {
        width: 100%;
        margin-bottom: 4%;
    }
    /*  Customer Journey Section  */
    #customerJourneySection {
        /*display: block;*/
        flex-direction: column;
        justify-content: center;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    #quantityOfCustomers {
        width: 100%;
    }
    #quantityOfCustomers h1 {
        font-size: 70px;
        margin-top: 5%;
    }
    #quantityOfCustomers h2 {
        margin: 5% 0;
        font-size: 28px;
    }
    #customerJourneySection img {
        width: 100%;
        height: auto;
    }
    /* Journey Path Section */
    #journeyPathSection {
        padding: 5.5% 8%;
    }
    #journeyPathDescription h1 {
        width: 100%;
        font-size: 35px;
    }
    #journeyPathDescription p {
        width: 100%;
        margin-top: 5%;
    }
    /* Journey Path Section */
    .journeyPathBlock {
        display: block;
        padding: 0;
        /*padding-top: 4%;*/
        text-align: center;
        margin-top: 16%;
    }
    .journeyPathBlock:first-of-type {
        margin-top: 20%;
    }
    .journeyPathBlockText {
        width: 100%;
    }
    .journeyPathBlockText p:nth-of-type(2) {
        text-align: left;
    }
   /*  Partners Section  */
    #partnersSection {
        padding: 0;
    }
    #partnersSection h1 {
        font-size: 30px;
    }
    .slider {
        padding: 6% 0;
    }
    .sliderContent {
        width: 100%;
        /*display: block;*/
        align-items: center;
        flex-direction: column;
    }
    #sliderImage {
        width: 40%;
        height: 50%;
    }
    .sliderText {
        width: 70%;
        position: relative;
        margin-top: 5%;
        text-align: center;
        left: 0.5%;
    }
    .sliderText h2 {
        font-size: 17px;
        line-height: normal;
        margin: 0;
    }
    .sliderCircles {
        padding: 0 40%;
    }
    /*  Join Section  */
    #joinSection {
        padding: 18% 8%;
    }
    #joinSection p {
        margin-bottom: 12%;
    }
    /*  Inspiration Section  */
    #inspirationSectionHeadingContainer {
        display: block;
        margin: 0;
    }
    #inspirationSectionHeadingContainer h1 {
        width: 100%;
    }
    #businessTips {
        display: block;
    }
    .businessTip {
        width: 100%;
        margin-bottom: 14%;
    }
    #inspirationSectionButtons {
        justify-content: space-between;
        padding: 0;
    }
    .inspirationSectionButton {
        width: 48%;
    }
    .seeBenefitsButton, .seeToolsButton {
        font-size: 14px;
        padding: 8% 12%;
    }
    /*  Second Join Section  */
    #secondJoinSection {
        flex-direction: column;
        padding-top: 13%;
        padding-bottom: 13%;
    }
    #secondJoinSection h1 {
        width: 100%;
        font-size: 35px;
        line-height: normal;
        letter-spacing: normal;
        margin-bottom: 8%;
    }
    #secondJoinSection a {
        padding: 4% 6%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    /*  Footer  */

    /*  Footer Navigation Section  */
    #footerNavigationSection {
        padding: 1% 2.5%;
    }
    .footerNavigation:last-of-type {
        display: none;
    }
    .footerNavigation h1 {
        font-size: 14px;
    }
    .footerNavigation a {
        font-size: 12px;
    }
    /*  Copytight and Contacts Section  */
    #copyrightAndContactsSection {
        display: block;
        padding: 5% 2%;
    }
    #downloadApps {
        width: 100%;
        justify-content: space-around;
    }
    #contacts {
        width: 100%;
        justify-content: space-around;
        margin-top: 3%;
    }
    #copyright {
        width: 100%;
        margin-top: 7%;
    }
    .readThisPageIn {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 25%;
        font-size: 12px;
        padding: 3% 2.5%;
    }
    #copyright p {
        margin-top: 4%;
    }
}