/*@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:ital,wght@0,300;0,700;1,400&family=Playfair+Display:wght@700&family=Roboto&display=swap');*/
body {
    /*background-color: bisque;*/
    margin: 0;
}
nav {
    /*padding: 20px 50px;*/
    padding: 1.5% 3%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div {
    display: inline-block;
}
.categories {
    width: 40%;
}
.categories a {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    margin-right: 9%;
    text-decoration: none;
    color: black;

}
.categories a:hover {
    text-decoration: underline;
}
.categories a:last-of-type {
    margin: 0;
}
.logoMobile {
    display: none;
}
.logo {
    position: absolute;
    left: 50%;
    top: 6%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.buttons button {
    cursor: pointer;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 700;
    transition: all 600ms;
}
#logInButton {
    padding: 12px 32px;
    background-color: white;
    border: 1px solid black;
    margin-right: 24px;
}
#signUpButton {
    padding: 12px 20px;
    background-color: #007C89;
    border: 1px solid #007C89;
    color: white;
}
#logInButton:hover {
    border: 1px solid #007C89;
    color: #007C89;
}
#signUpButton:hover {
    background-color: #692340;
    border: 1px solid #692340;
}


/* . . . */
#landing {
    background-image: url("img/langingBackground.png");
    height: 112vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.navMenu {
    float: right;
    padding: 60px;
}
.navMenu a {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin-left: 28px;
}
.navMenu a:nth-of-type(1) {
    color: #692340;
}
.navMenu a:hover {
    text-decoration: underline;
}
.navMenu a:nth-of-type(1):hover {
    text-decoration: none;
}
.navMenu hr {
    width: 62px;
    background-color: #692340;
    color: #692340;
    border: none;
    height: 1pt;
    position: relative;
    right: 151px;
    top: -5px;
}
/* . . . */
.landingMainContent {
    width: 36%;
    padding: 3.5% 10%;
    color: #692340;
}
.landingMainContent h1 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 74px;
    line-height: 74px;
    letter-spacing: 1px;
    margin-bottom: 8%;
}
.landingMainContent p {
    width: 116%;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 28px;
}
#joinButton {
    margin-top: 5%;
    padding: 4% 8%;
    font-family: "Roboto";
    font-size: 15px;
    border: none;
    background-color: #692340;
    color: white;
    cursor: pointer;
    transition: all 600ms;
}
#joinButton:hover {
    background-color: #a50334;
}
.landingMainContent p:nth-of-type(2) {
    font-size: 15px;
}

/* Benefit Section */
#benefitSection {
    padding: 6% 0;
}
#benefitSection h1 {
    font-family: "Roboto";
    text-align: center;
    font-size: 54px;
    color: #692340;
    margin-bottom: 3%;
}
.benefitsMainTextContainer {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
    /*padding: 5%;*/
    margin-bottom: 10%;
}
.benefitsMainTextContainer p {
    font-family: "Roboto";
    text-align: center;
    font-size: 21px;
    line-height: 30px;
    color: #692340;
    width: 750px;
    margin: 0 auto;
}
#benefits {
    display: flex;
    justify-content: space-around;
    padding: 0 14%;
}
.benefit {
    width: 25%;
    font-family: "Roboto";
    color: #692340;
    text-align: center;
}
.benefit:hover img{
    transform: scale(1.2);
}
.benefit:hover h2 {
    color: #c4002e;
}
.benefit img {
    display: block;
    margin: 0 auto;
    transition: all 600ms;
}
.benefit h2 {
    max-width: 70%;
    margin: 15% auto 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
}
.benefit p {
    width: 74%;
    margin: 8% auto 0;
    font-size: 16px;
    line-height: 24px;
}

/* Customer Journey Section */
#customerJourneySection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5.5% 8%;
}
#customerJourneySection img {
    height: 247px;
    transition: all 600ms;
    text-align: center;
}
#customerJourneySection:hover img {
    transform: scale(1.15);
}
#quantityOfCustomers {
    width: 38%;
    text-align: center;
    color: #692340;
    font-family: "Roboto";
}
#quantityOfCustomers h1 {
    font-size: 112px;
    font-weight: 400;
    margin: 0;
}
#quantityOfCustomers h2 {
    font-size: 39px;
    font-weight: 400;
    margin-bottom: 3%;
}
#quantityOfCustomers p {
    font-size: 16px;
    margin: 0;
}

/* Journey Path Section */
#journeyPathSection {
    font-family: "Roboto";
    color: #692340;
}
#journeyPathDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 0 35%;*/
    text-align: center;
}
#journeyPathDescription h1 {
    font-size: 54px;
    width: 30%;
    /*padding: 0 35%;*/
    margin-bottom: 2%;
    font-weight: 400;
}
#journeyPathDescription p {
    width: 45%;
    font-size: 21px;
    line-height: 30px;
    margin: 0;
}
.journeyPathBlock {
    margin-top: 10.5%;
}
.journeyPathBlock:first-of-type {
    margin-top: 8.5%;
}
.journeyPathBlock:last-of-type {
    margin-bottom: 6%;
}
.journeyPathBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    padding-left: 19.5%;
}
.journeyPathBlockText {
    width: 48%;
    margin-bottom: 2%;
    /*margin-right: 12%;*/
}
/*.journeyPathBlock img {*/
/*    width: 340px;*/
/*    height: 380px;*/
/*}*/
.journeyPathBlockText h2 {
    font-size: 40px;
    font-weight: 400;
}
.journeyPathBlockText p {
    font-size: 16px;
}
.journeyPathBlock p:first-of-type {
    margin-bottom: 5%;
}
.journeyPathBlockText p:nth-of-type(2) {
    margin-left: 4%;
}
.journeyPathBlockText p:last-child {
    color: #a50334;
    text-decoration: underline;
}


/* Partners Section */
#partnersSection {
    font-family: 'Roboto';
    color: #692340;
    padding: 0 5%;
    padding-bottom: 6%;
}
#partnersSection h1 {
    font-size: 52px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3%;
}
.sliderContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}
.sliderText {
    width: 26%;
    position: relative;
    right: 5%;
}
.arrowLeft, .arrowRight {
    width: 20px;
    height: 38px;
}
.sliderText h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 22%;
    line-height: 46px;
}
.sliderCircles {
    display: flex;
    justify-content: space-between;
    padding: 0 44.5%;
}
#arrowRight {
    position: absolute;
    right: 10%;
    cursor: pointer;
}
#arrowLeft {
    position: absolute;
    left: 10%;
    cursor: pointer;
}

/* Join Section */
#joinSection {
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 5%;
    padding-bottom: 17%;
    font-family: "Roboto";
    text-align: center;
    color: #692340;
    background-color: #FBEECA;
}
#joinSection h1 {
    font-size: 51px;
}
#joinSection p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6%;
}
#joinSection a {
    padding: 2% 5%;
    border: 2px solid #692340;
    color: #692340;
    text-decoration: none;
    font-weight: 700;
    transition: all 600ms;
}
#joinSection a:hover {
    color: #a50334;
    border: 2px solid #a50334;
}

/* Inspiration Section */
#inspirationSection {
    padding: 5% 7%;
    padding-bottom: 12%;
    font-family: "Roboto";
    color: #692340;
}
#inspirationSectionHeadingContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 7%;
}
#inspirationSectionHeadingContainer h1 {
    width: 40%;
    font-size: 50px;
    /*line-height: 55;*/
}
#businessTips {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5%;
}
.businessTip {
    width: 28%;
}
.businessTip img {
    transition: all 600ms;
}
.businessTip:hover img {
    transform: scale(1.1);
}
.businessTip a {
    font-size: 24px;
    font-weight: 700;
    color: #692340;
    text-decoration: none;
}
.businessTip a:hover {
    text-decoration: underline;
}
.businessTip h1 {
    font-size: 27px;
}
.businessTip p {
    font-size: 18px;
    line-height: 29px;
}
#inspirationSectionButtons {
    display: flex;
    justify-content: space-around;
    padding: 0 4%;
}
.inspirationSectionButton {
    width: 16%;
    text-align: center;
    transition: all 600ms;
}
.inspirationSectionButton h1 {
    font-size: 24px;
    margin-bottom: 25%;
}
.inspirationSectionButton:hover {
    color: #a50334;
}
.seeBenefitsButton {
    /*width: 20%;*/
    padding: 10% 25%;
    border: 2px solid #692340;
    font-size: 15px;
    color: #692340;
    text-decoration: none;
    font-weight: 700;
    transition: all 600ms;
}
.seeToolsButton {
    padding: 10% 22%;
    border: 2px solid #692340;
    color: #692340;
    text-decoration: none;
    font-weight: 700;
    transition: all 600ms;
}
.seeBenefitsButton:hover, .seeToolsButton:hover {
    color: #a50334;
    border: 2px solid #a50334;
}

/* Second Join Section */
#secondJoinSection {
    background-color: #692340;
    font-family: "Roboto";
    padding: 5% 8%;
    padding-bottom: 8%;
    color: #FBEECA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#secondJoinSection h1 {
    font-size: 74px;
    line-height: 74px;
    font-weight: 400;
    width: 40%;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 4%;
    margin-bottom: 3%;
}
#secondJoinSection h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 3%;
    text-align: center;
}
#secondJoinSection a {
    padding: 1.7% 3.5%;
    background-color: #FBEECA;
    color: #692340;
    transition: all 600ms;
}
#secondJoinSection a:hover {
    background-color: #ffe4c6;
    color: #a50334;
}
#secondJoinSection p {
    font-size: 14px;
    margin-top: 2%;
}